@font-face {
  font-family: cheappine;
  src: url(../../../assets/fonts/Cheap\ Pine\ Regular.otf);
}

@font-face {
  font-family: oxygen;
  src: url(../../../assets/fonts/Oxygen/Oxygen-Bold.ttf);
}

@font-face {
  font-family: lotus;
  src: url(../../../assets/fonts/Lotuseater-d9A46.otf);
}

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;900&display=swap");

/* .navigation{
    background-color: rgba(255, 255, 255,0.5);
} */

.menutogglediv {
  padding: 1% 2%;
  margin-bottom: 70px;
  display: flex;
  flex-wrap: no-wrap;
  align-items: center;
  background: rgba(0, 0, 0, 0.85);
  color: #f0f0f0;
  box-shadow: 0 0 3px 3px #000000;
}

.mainheading {
  text-align: center;
  font-size: 80px;
  font-family: "oxygen";
  margin: auto;
  
  /* color: rgb(19, 66, 51); */
}

@media only screen and (max-width: 700px) {
  .mainheading {
    font-size: 40px;
  }
}
