@font-face {
    font-family: cheappine;
    src: url(../../../assets/fonts/Cheap\ Pine\ Regular.otf);
  }

  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;900&display=swap');

.menutogglediv{
    padding: 40px 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.mainheading{
    text-align: center;
    font-size: 70px;
    font-family: 'Playfair Display', serif;
    margin: auto;
    color: rgb(0, 0, 0);
}