.heading {
  width: 100%;
  background-color: blanchedalmond;
  text-align: center;
  font-size: 50px;
  padding: 2% 0 2% 0%;
}

.container {
  display: flex;
  background-color: lavender;
}

.leftbox {
  font-size: large;
  padding: 2%;
  background-color: cadetblue;
  width: 900px;
  overflow: hidden;
}

.rightbox {
  font-size: large;
  padding: 2%;
  margin-left: 2%;
  background-color: lightyellow;
  width: 900px;
}

.announcement_heading {
  font-size: 50px;
  text-align: center;
}

.form_heading {
  text-align: center;
  font-size: 50px;
}

.want {
  font-size: larger;
  padding: 15%;
  text-align: center;
  margin: 5% 0 5% 0;
  background-color: pink;
  border-radius: 2px;
}

.need {
  font-size: larger;
  padding: 15%;
  margin: 15% 0 15% 0;
  text-align: center;
  background-color: lightsalmon;
  border-radius: 2px;
}

.donation {
  font-size: larger;
  background-color: lightpink;
  height: 300px;
}

.footer {
  bottom: 0;
  align-items: center;
  display: flex;
  height: 100px;
  background-color: lightslategrey;
}
.footer2 {
  bottom: 0;
  width: 100%;
  position: fixed;
  align-items: center;
  display: flex;
  height: 100px;
  background-color: lightslategrey;
}

.items {
  padding: 1%;
  margin: 2% 0 2% 0;
  background-color: white;
}

.marquee {
  top: 10em;
  position: relative;
  animation: marquee 10s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}

/* Make it move! */
@keyframes marquee {
  0% {
    top: -1em;
  }
  100% {
    top: 48em;
  }
}

.item {
  background-color: white;
  font-size: large;
  text-align: center;
  margin-top: 5%;
}

table {
  margin-top: 5%;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
