.team {
  /* background:  url("./assets/bg/bg3.png") #f1f1f1; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.heading {
  text-align: center;
  font-size: 70px;
  font-family: "oxygen";
  width: 80%;
  margin: 0 auto;
  padding-bottom: 2%;
  border-bottom: 4px solid #000;
  /* color: rgb(19, 66, 51); */
}

.orgcardsec {
  margin: 7% 0;
  padding: 0 3% 3% 3% 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.orgcard {
  background-color: #fff8f8;
  width: 300px;
  padding: 1.8%;
  box-shadow: 3px 3px 4px black;
  margin: 2%;
  height: 200px;
  line-height: 20px;
}

.orgheading {
  text-align: center;
  border-bottom: 2px solid rgb(231, 5, 5);
  margin: 2% 4%;
  padding: 0 0 5% 0;
}

.orgname{
font-weight: bold;
}

.orgcontact {
  padding: 4%;
  margin: 2% 4%;
}
.orgcontact p {
  margin: 4% 0;
  text-align: justify;
}

.orgdesignationtag{
margin-top: 4%;
}

@media only screen and (max-width: 700px) {
  .leftbox {
    padding-top: 50px;
  }
  .heading {
    font-size: 30px;
  }
  .leftbox {
    width: 90%;
  }
  /* .frontpagecont {
      margin: 0 0 80% 0;
    } */
}
