.heading {
  text-align: center;
  font-size: 70px;
  font-family: "oxygen";
  width: 80%;
  margin: 0 auto;
  padding-bottom: 2%;
  border-bottom: 4px solid rgb(133, 0, 0);
  color: rgb(133, 0, 0);
  /* color: rgb(19, 66, 51); */
}

.form {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 5%;
  align-items: flex-end;
  /* margin-top: 3%; */
}

.subform1 {
  height: 150px;
  width: 600px;
}

.textarea1 {
  padding: 2%;
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
.textarea2 {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  padding: 4%;
}

.subform2 {
  /* position: relative;
  right: 3%;
  top: 80px; */
  margin-left: 10px;
  height: 40px;
  width: 200px;
}

.button {
  margin: 1% 0 3% 0;
  margin-left: 33%;
  width: 30%;
  height: 40px;
  cursor: pointer;
  font-size: 20px;
  background-color: rgba(133, 0, 0, 1);
  color: white;
}

.data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5%;
}

.description {
  width: 500px;
  height: 200px;
  background-color: rgb(247, 240, 240);
  overflow-y: scroll;
  word-wrap: break-word;
  margin: 2%;
  font-size: 25px;
  border-radius: 7px;
  padding: 1%;
}

.authorname {
  margin-bottom: 10px;
}

.disclaimer {
  width: 80%;
  text-align: center;
  margin: 3% 0 0 10%;
  font-size: 40px;
  color: gray;
}

.tipwarning {
  background: bisque;
  margin: 4% 5%;
  font-size: 11px;
  padding: 1%;
  display: inline-block;
  border-radius: 0px 20px 20px;
  box-shadow: 2px 2px 2px #000;
}

.subheading {
  text-align: center;
  font-size: 70px;
  font-family: "oxygen";
  width: 80%;
  margin: 0 auto;
  padding-bottom: 2%;
  border-bottom: 4px solid rgb(133, 0, 0);
  color: rgb(133, 0, 0);
  /* color: rgb(19, 66, 51); */
}
