.frontpagecont {
  margin: 0 0 7% 0;
}

.leftbox {
  font-size: large;
  width: 65%;
  margin: 0 auto;
}

.heading {
  text-align: center;
  font-size: 70px;
  font-family: "oxygen";
  width: 80%;
  margin: 0 auto;
  padding-bottom: 2%;
  border-bottom: 4px solid #000;
  /* color: rgb(19, 66, 51); */
}

button {
  margin: 5% 0 0 0;
  font-size: 20px;
  width: 80%;
  border-radius: 3%;
  height: 40px;
  background-color: #fbfdfc;
  cursor: pointer;
  bottom: 0;
}

.orgcardsec {
  margin: 7% 0;
  padding: 0 3% 3% 3% 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.orgcard {
  background-color: #e1dcf2;
  width: 300px;
  padding: 1.8%;
  box-shadow: 3px 3px 4px black;
  margin: 2%;
  line-height: 20px;
}

.orgname {
  text-align: center;
  border-bottom: 2px solid rgb(231, 5, 5);
  margin: 2% 4%;
  padding: 0 0 5% 0;
  font-size: 25px;
  cursor: pointer;
}

.orgname:hover,
a.ex2:active {
  font-size: 120%;
  color: red;
}

.orgcontact {
  padding: 4%;
  margin: 2% 4%;
}
.orgcontact p {
  margin: 4% 0;
}
